@import "./../../styles/global/colors.sass"

//********************
//CloseableAlert
//********************
.close-icon
  color: $suva-gray
  cursor: pointer

//********************
// GlobalAlert
//********************
.global-alert
  margin: 0 !important

//********************
// DateField
//********************
.rw-state-disabled, .rw-cell-not-allowed, .rw-cell-off-range
  color: #707070 !important
  opacity: 1 !important

//********************
// TimeoutWarning
//******************** 
div.timeout-warning-modal
  margin-top: 17.4rem
  @media (min-width: 576px)
    max-width: 56rem !important

div.timeout-warning-modal
  > div.modal-content
    width: inherit
    border-radius: .5rem
    border: none

div.timeout-warning-modal-body
  padding: 3.2rem 3.2rem 3.2rem 0
  width: inherit 
  background-color: #FFF
  border-radius: .5rem .5rem 0 0
  border-top: .2rem solid #B2B2B2
  border-left: .2rem solid #B2B2B2
  border-right: .2rem solid #B2B2B2
  border-bottom: none !important

div.timeout-warning-modal-body
  > div
    margin-left: 9.6rem
    color: #000
    size: 1.6rem
    line-height: 2rem

div.timeout-warning-modal-body
  > div:nth-child(2)
    margin-bottom: 1.6rem

div.timeout-warning-modal-body
  > div:nth-child(3)
    margin-bottom: 1.6rem    

div.timeout-warning-modal-body
  > div.timeout-warning-modal-exclamation-triangle
    float: left
    height: 3.6rem
    width: 3.6rem
    margin-left: 3rem
    margin-right: 3rem
    background-image: url('../../../../assets/images/icon_warning.png')
    background-repeat: no-repeat
    background-size: contain

div.timeout-warning-modal-body
  > div.timeout-warning-modal-heading
    color: #AD2213 !important
    font-size: 2.4rem
    line-height: 3.1rem
    font-weight: 600

div.timeout-warning-modal-footer
  padding: 0 3.2rem 3.2rem 9.6rem
  width: inherit
  background-color: #FFF
  border-radius: 0 0 .5rem .5rem
  border-top: none !important
  border-left: .2rem solid #B2B2B2
  border-right: .2rem solid #B2B2B2
  border-bottom: .2rem solid #B2B2B2

div.timeout-warning-modal-footer
  > button
    width: 17.5rem
    font-size: 1.4rem
    font-weight: 600

button.timeout-warning-modal-logout
  margin-right: 1.6rem !important
  background-color: #D8D8D8
  color: #076678
  
button.timeout-warning-modal-stay-logged-in
  background-color: #098E88
  color: #FFF